<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.1.0" newVersion="3.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="ExampleVideo" value="D:\Desktop\Ragnarok\gatto1.mp4" />
    <add key="ExampleImage" value="D:\Desktop\Ragnarok\cat.jpg" />
    <add key="DnnConfigPath" value="D:\Desktop\Nuova cartella (2)\object-detection-opencv-master\yolov3.cfg" />
    <add key="DnnWeightsPath" value="D:\Desktop\Nuova cartella (2)\object-detection-opencv-master\yolov3.weights" />
    <add key="DnnClassesPath" value="D:\Desktop\Nuova cartella (2)\object-detection-opencv-master\yolov3.txt" />
    <add key="FrameQueueSize" value="2" />
    <add key="RotateImageClockwise" value="90" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
